<div (mouseleave)="removeSynchronize()">
  <highcharts-chart [style]="{
      width: '100%',
      display: 'block',
      height: '250px'
    }"
    [Highcharts]="highcharts"
    [options]="option1"
    [oneToOne]="true"
    (mousemove)="synchronize($event)"
  >
  </highcharts-chart>

  <highcharts-chart [style]="{
      width: '100%',
      display: 'block',
      height: '250px'
    }"
    [Highcharts]="highcharts"
    [options]="option2"
    [oneToOne]="true"
    (mousemove)="synchronize($event)"
    >
  </highcharts-chart>
</div>
